<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/nullstyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<style>
  .home-button {
      position: absolute;
      top: 20px;
      left: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: #000;
      transition: color 0.3s;
    }

    .home-button:hover {
      color: #007bff;
    }
    body {
  overflow: hidden;
}

</style>
</head>

<body>
  <div class="container">
    <div class="column">
      <div class="column-content">
        <div class="auth-links">
          <a href="/login/" class="auth-link">Войти</a> <span class="auth-link auth-separator">|</span> <a
            href="#" class="auth-link active-link">Зарегистрироваться</a>
        </div>
        <form method="post" class="login-form" id="registerForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Почта</label>
            <input type="email" id="email" name="email" placeholder="Введите почту" class="form-input" required style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 17px; width: 100%;">
          </div>

          <div class="form-group">
            <label for="first_name">Имя</label>
            <input type="text" id="first_name" name="first_name" placeholder="Введите имя" class="form-input" required>
          </div>

          <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input type="text" id="last_name" name="last_name" placeholder="Введите фамилию" class="form-input" required>
          </div>

          <div class="form-group">
            <label for="password1">Пароль</label>
            <div class="password-input form-input">
              <input type="password" id="password1" name="password1" placeholder="Введите пароль" required>
              <button type="button" class="toggle-password">
                <i class="bi bi-eye icon" style="size: 1rem !important;"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="password2">Подтверждение пароля</label>
            <div class="password-input form-input">
              <input type="password" id="password2" name="password2" placeholder="Подтвердите пароль" required>
              <button type="button" class="toggle-password">
                <i class="bi bi-eye icon" style="size: 1rem !important;"></i>
              </button>
            </div>
          </div>

          <div class="form-bottom">
            <a href="{% url 'login' %}" class="forgot-password">Уже зарегистрированы?</a>
          </div>

          <div class="login-button-container">
            <button type="submit" class="login-button" style="width: 100%; text-align: center;">Зарегистрироваться</button>
          </div>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="column-content column-content-right" id="rightColumn">
        <div style="position: relative; overflow: hidden;">
          <pre class="column-text" id="scrollingText" style="font-size: 1.85rem;">
            <span style="display: block; margin-left: 20px;">// f(x) xyz plus g(x)%*xyz arrow</span>
            <span style="display: block; margin-left: 40px;">// www y(x) = f(x) summ</span>
            <span style="display: block; margin-left: 60px;">// f'(x) derivative plus integral</span>
            <span style="display: block; margin-left: 80px;">// lambda x.y -> beta reduction</span>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <script>
    const formGroups = document.querySelectorAll("#registerForm .form-group");
    const authLinks = document.querySelectorAll(".auth-link");
    const rememberMe = document.querySelector(".remember-me");
    const forgotPassword = document.querySelector(".forgot-password");
    const authSeparator = document.querySelector(".auth-separator");
    const scrollingText = document.getElementById("scrollingText");
    scrollingText.style.opacity = '0';
    const rightColumn = document.getElementById("rightColumn");
    document.body.style.overflow = 'hidden';
    gsap.from("#rightColumn", {
      duration: 1.5,
      x: 500,
      opacity: 0,
      ease: "power2.out",
      delay: 0,
      onComplete: () => {
        document.body.style.overflow = '';
        scrollingText.style.opacity = '1';
        startTypingAnimation();
      }
    });

    formGroups.forEach((group, index) => {
      gsap.from(group, {
        duration: 0.7,
        opacity: 0,
        x: index % 2 === 0 ? -50 : 50,
        stagger: 0.3,
        ease: "power2.out",
        delay: 0.5
      });
    });
    gsap.from(".login-button", {
      duration: 0.7,
      opacity: 0,
      scale: 0.5,
      ease: "back.out(1.7)",
      delay: 0.5
    });

    const passwordInputs = [document.getElementById("password1"), document.getElementById("password2")];
    const togglePasswordButtons = document.querySelectorAll(".toggle-password");

    togglePasswordButtons.forEach((button, index) => {
      button.addEventListener("click", function() {
        const type = passwordInputs[index].getAttribute("type") === "password" ? "text" : "password";
        passwordInputs[index].setAttribute("type", type);

        const currentIcon = this.querySelector("i");

        currentIcon.style.opacity = '0';
        setTimeout(() => {
          if (type === "password") {
            currentIcon.className = "bi bi-eye icon";
          } else {
            currentIcon.className = "bi bi-eye-slash icon";
          }
          currentIcon.style.opacity = '1';
        }, 200);
      });
    });

    function startTypingAnimation() {
      const text = scrollingText.innerText;
      scrollingText.innerText = '';
      const lines = text.split('\n');
      let lineIndex = 0;
      let charIndex = 0;

      const typingInterval = setInterval(() => {
        if (lineIndex < lines.length) {
          if (charIndex < lines[lineIndex].length) {
            scrollingText.innerText += lines[lineIndex].charAt(charIndex);
            charIndex++;
          } else {
            const randomSpaces = ' '.repeat(Math.floor(Math.random() * 10)); 
            scrollingText.innerText += '\n' + randomSpaces;
            const randomMargin = Math.floor(Math.random() * 10) + 5;
            scrollingText.style.marginBottom = `${randomMargin}px`;

            lineIndex++;
            charIndex = 0;
          }
        } else {
          clearInterval(typingInterval);
        }
      }, 10);
    }
  </script>

</body>
</html>